<div class="container-fluid bg-dark text-light px-0 py-2 topfirst-panel">
  <div class="top-bar d-flex justify-content-between align-items-center py-2 px-3">
    <div>
      <label class="form-label mb-0 me-2 language-option">{{
        "select_language" | translate
        }}</label>
      <ng-container *ngFor="let language of languageData">
        <span class="language-option cursor-pointer" (click)="switchLang($event, language.name)"
          [ngClass]="{ 'active-language': language.name === translate.currentLang }">
          {{ language.name }}
        </span>
        <span class="language-option cursor-pointer">|</span>
      </ng-container>
    </div>

    <div *ngIf="!authService.isLoggedIn"></div>

    <div *ngIf="authService.isLoggedIn" class="">
      <span class=" cursor-pointer language-option" (click)="funcRedirectToHelpDesk()">
        <i class="fa fa-ticket"></i> {{ "help_desk" | translate }}
      </span>
      ||
      <span class="logged-in-text">{{ "already_logged_in" | translate }}</span>
      <span class="username">{{ "username" | translate }} | {{ userFirstName }}</span>
      <span class="dashboard-link cursor-pointer language-option" (click)="funcRedirectToDashboard()">
        <i class="fa fa-arrow-right"></i> {{ "access_dashboard" | translate }}
      </span>
      ||
      <span class="logout-link cursor-pointer language-option" (click)="funcUserLogOut()">
        <i class="fa fa-sign-out"></i> {{ "logout" | translate }}
      </span>
    </div>

    <div *ngIf="!authService.isLoggedIn" class="">
      <span class="dashboard-link cursor-pointer language-option" (click)="funcRedirectToHelpDesk()">
        <i class="fa fa-ticket"></i> {{ "help_desk" | translate }}
      </span>
      ||
      <span class="form-label cursor-pointer language-option" (click)="openSignupPopup()">
        <i class="fa fa-user"></i> {{ "create_account" | translate }}
      </span>
      ||
      <span class="form-label cursor-pointer language-option" (click)="openSigninPopup()">
        <i class="fa fa-sign-in"></i> {{ "sign-in" | translate }}
      </span>
    </div>
  </div>
</div>

<div class="container-fluid topsecond-panel">
  <div class="row gx-0 d-lg-flex align-items-center ">
    <div class="col-lg-1  div-marginglogo">
      <div class="logo_container">
        <!-- Add logo here -->
      </div>
    </div>
    <div class="col-lg-4 align-items-center">
      <span class="col-lg-12 system-title animated slideInDown">
        {{ "system_acronym" | translate }}
      </span>
      <p class="col-lg-12 clstopsystem_title">
        ({{ "system_title" | translate }})
      </p>
    </div>

  </div>
</div>


<dx-popup [(visible)]="isSignupPopupVisible" [showTitle]="true"
  title="{{ 'create_account(applicants_only)' | translate }}" [width]="funcpopWidth(45)" [height]="funcpopHeight(78)"
  [dragEnabled]="true" [hideOnOutsideClick]="false">

  <form enctype="multipart/form-data" role="form" [formGroup]="signUpFrm" (ngSubmit)="submitSignup()">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{ 'trader_account_type' | translate }}</label>
      <dx-select-box [dataSource]="traderAccountTypeData" formControlName="traderaccount_type_id" valueExpr="id"
        [searchEnabled]="true" displayExpr="name" class="custom-input">
      </dx-select-box>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{ 'name' | translate }}</label>
      <dx-text-box formControlName="name" [showClearButton]="true" class="custom-input"></dx-text-box>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{ 'email_address' | translate }}</label>
      <dx-text-box formControlName="email_address" [showClearButton]="true" class="custom-input"></dx-text-box>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{ 'country' | translate }}</label>
      <dx-select-box [dataSource]="Countries" formControlName="country_of_origin_id"
        (onSelectionChanged)="onCountrySelection($event)" [showClearButton]="true" valueExpr="id" [searchEnabled]="true"
        displayExpr="name" class="custom-input">
      </dx-select-box>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{'phone_number' | translate }}</label>
      <dx-text-box formControlName="phone_number" class="custom-input"></dx-text-box>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <dx-button text="{{ 'request_otp' | translate }}" type="default" icon="fa fa-key"
        [elementAttr]="{ class: 'neon-button' }" (onClick)="onSignUpOtpRequest()">
      </dx-button>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{'enter_otp' | translate }}</label>
      <dx-number-box formControlName="otp_value" placeholder="{{'enter_otp' | translate }}" [showClearButton]="true"
        class="custom-input">
        <dx-validator>
          <dxi-validation-rule type="required" message="OTP is required"></dxi-validation-rule>
        </dx-validator>
      </dx-number-box>
    </div>


    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <dx-button text="{{'sign_up' | translate}}" type="success" icon="fa fa-arrow-right"
        [elementAttr]="{ class: 'neon-button' }" (onClick)="submitSignup()">
      </dx-button>
      <dx-button text="{{ 'already_have_an_account' | translate }}?" type="default" icon="fa fa-user"
        [elementAttr]="{ class: 'neon-button-outline' }" (onClick)="openSigninPopup()">
      </dx-button>
    </div>
  </form>


</dx-popup>

<dx-popup [(visible)]="isSigninPopupVisible" [showTitle]="true" title="{{ 'sign-in' | translate }}"
  [width]="funcpopWidth(40)" [height]="funcpopHeight(55)" [dragEnabled]="true" [hideOnOutsideClick]="false">
  <form enctype="multipart/form-data" role="form" [formGroup]="signInFrm" (ngSubmit)="onSignIn()">


    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{ 'enter_email_address' | translate }}</label>
      <dx-text-box class="dx-textbox" formControlName="email_address"
        placeholder="{{ 'enter_email_address' | translate }}" [showClearButton]="true">
      </dx-text-box>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{ 'password' | translate }}</label>
      <dx-text-box formControlName="password" mode="password" placeholder="{{ 'password' | translate }}"
        [showClearButton]="true" [inputAttr]="{ 'aria-label': 'Password' }" stylingMode="filled"
        [(mode)]="passwordMode">
        <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
      </dx-text-box>
    </div>

    <!-- Send OTP Button -->
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <dx-button class="dx-button" text="{{'request_otp' | translate}}" type="default" icon="fa fa-key"
        (onClick)="onOtpRequest()">
      </dx-button>
    </div>
    <!-- OTP Input -->
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <dx-number-box class="dx-textbox" formControlName="otp_value" placeholder="{{'enter_otp' | translate}}">
        <dx-validator>
          <dxi-validation-rule type="required" message="{{ 'otp_is_required' | translate }}"></dxi-validation-rule>
        </dx-validator>
      </dx-number-box>
    </div>

    <!-- Sign In Button -->
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <dx-button type="success" class="dx-button" text="{{'sign_in' | translate}}" icon="fas fa-sign-in-alt"
        (onClick)="onSignIn()">
      </dx-button>

    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 margin-top">
      <dx-button text="{{ 'create_account' | translate }}" type="success" icon="fa fa-user-plus"
        [elementAttr]="{ class: 'neon-button' }" (onClick)="openSignupPopup()">
      </dx-button>
      <dx-button text="{{ 'lost_password' | translate }}?" type="default" icon="fa fa-key"
        [elementAttr]="{ class: 'neon-button-outline' }" (onClick)="funcLostPassord()">
      </dx-button>
    </div>

  </form>


</dx-popup>


<dx-popup [(visible)]="islostpassword" [showTitle]="true" title="{{ 'password_recovery' | translate }}" [width]="550"
  [height]="350" [dragEnabled]="false" [hideOnOutsideClick]="false">
    <form enctype="multipart/form-data" role="form" [formGroup]="forgotPasswordFrm" (ngSubmit)="onFuncRecoverPasswordRequest()">

    <dxi-item dataField="email_address" editorType="dxTextBox">
     
    </dxi-item>
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <label for="ti" class="control-label">{{ 'enter_email_address' | translate }}</label>
      <dx-text-box formControlName="email_address" placeholder="{{ 'enter_email_address' | translate }}"
        [showClearButton]="true">
      </dx-text-box>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <dx-button text="{{ 'request_password_recovery' | translate }}" type="default" icon="fa fa-key"
        (onClick)="onFuncRecoverPasswordRequest()">
      </dx-button>
    </div>
   
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <dx-button class="form-label cursor-pointer" (click)="openSigninPopup()" type="success">
        <i class="fa fa-arrow-left"></i> {{ 'back_to_login' | translate }}
      </dx-button>
    </div>
  </form>
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#employee' }" [(visible)]="loadingVisible"
  [showIndicator]="true" [showPane]="true" [shading]="true" [message]="spinnerMessage" [hideOnOutsideClick]="false">
</dx-load-panel>


<dx-popup class="popup" [width]="funcpopWidth(80)" [height]="700" [showTitle]="true" title="{{printReportTitle}}"
  [dragEnabled]="false" [hideOnOutsideClick]="false" [(visible)]="isPrintReportVisible">
  <div *dxTemplate="let data of 'content'" class="row">

    <app-iframe-helper [helpdeskUrl]="helpdeskUrl"></app-iframe-helper>
  </div>
</dx-popup>