.bg-white {
  background-color: #fff;
}

.div-home {
  height: 30vh;
  align-content: center !important;
  background-color: #E4E6E9;
}
.error-section {
  background-color: #f7f8fa;
  padding: 20px;
}
.card-text {
  font-size: 16px !important;
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-title {
  font-size: 22px !important;
}
.div-centerpanel {
  margin: 0 auto !important;
  display: flex;
  height: 30vh;
  align-items: center !important;
  justify-content: center !important;
  padding-left: 20px;
}

.text-secondary {
  color: #6c757d;
}
.dx-button {
  border-radius: 6px;
  padding: 10px 20px;
}
.dx-button:hover {
  background-color: #6e513f;
  transition: background-color 0.3s ease;
}
.search-box {
  /* background: rgba(255, 255, 255, 0.9); */
  border-radius: 10px;
  margin: 0 auto;
}
.form-select-lg {
  border-radius: 5px;
  height: 45px;
  font-size: 1rem;
  width: 34rem;
}
.dx-fieldset {
  /* background-color: #edf2f7; */
  background-color: #fff;
  border-radius: 40px;
  align-items: center;
  padding-top: 15px;
  padding-left: 20px;
}
.subtitle h2 {
  padding-left: 30px;
}
.searchbutton .dx-field:last-of-type {
  margin: none !important;
}

.search-button .pb-2 {
  padding: 2rem !important;
  margin-bottom: 2rem !important;
  border-radius: 0 20px 20px 0px !important;
}

.search-button {
  padding: 20px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 1.8rem;
  }
  .search-box {
    max-width: 90%;
  }
  .form-select-lg {
    font-size: 1rem;
  }
  .btn-lg {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
  }
  .search-box {
    padding: 12px;
    max-width: 100%;
  }
  .form-select-lg {
    font-size: 0.95rem;
    height: 42px;
  }
  .btn-lg {
    font-size: 1rem;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.4rem;
  }
  .search-box {
    padding: 10px;
    max-width: 100%;
  }
  .form-select-lg {
    font-size: 0.9rem;
    height: 40px;
  }
  .btn-lg {
    font-size: 0.9rem;
    padding: 8px;
  }
}