<div style="background-color: #fff;">
  <div class="div-centerpanel div-home">
    <div class="row col-lg-12 row  pull-right">
      <div class="container-fluid p-0">
        <!-- Slider Section -->
        <div class="slider">
          <div class="carousel slide" id="slider" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active slide_image1">
                
              </div>
              <div class="carousel-item active slide_image1">
               
              </div>
              <div class="carousel-item active slide_image1">
                
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      
          <!-- Overlay Container -->
          <div class="overlay-container">
            <h2 class="display-5 mb-4">A Step-by-Step Guide on Foreign Trade Procedures</h2>
            <!-- Search Box -->
            <div class="search-box">
              <form>
                <div class="input-group">
                  <!-- Search By Dropdown -->
                  <select class="form-select form-select-lg" id="searchBy">
                    <option selected>HS Code or Product</option>
                    <option>HS Code</option>
                    <option>Product</option>
                  </select>
                  <!-- Transaction Type Dropdown -->
                  <select class="form-select form-select-lg" id="transactionType">
                    <option selected>Transaction Type</option>
                    <option>Import</option>
                    <option>Export</option>
                    <option>Transit</option>
                  </select>
                  <!-- Input Field -->
                  <input type="text" class="form-control form-control-lg" placeholder="Enter your search">
                  <!-- Search Button -->
                  <button type="submit" class="btn btn-primary btn-rounded">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>