<div style="background-color: #fff;">
  <div class="div-centerpanel div-home">
    <div class="row col-lg-12 row  pull-right">
      <div class="container-fluid p-0">
        <!-- Slider Section -->
        
          <!-- Overlay Container -->
          <!-- <div class="overlay-container"> -->
            <h2 class="display-5 mb-4">{{'astep-by-step_guide_on_import/export_procedures' | translate}}</h2>
            <!-- Search Box -->
            <div class="search-box">
              <!-- <form>
                <div class="input-group">
                  
              
                  <div class="form-search-by">
                    <h6>{{'search_by' | translate}}</h6>
                  </div>

                  <select class="form-select form-select-lg" id="searchByCriteria"
                    (change)="onSearchCriteriaChange($event)">
                    <option selected disabled>{{ 'select_search_criteria' | translate }}</option>
                    <option *ngFor="let criterion of criteriaData" [value]="criterion.id">
                      {{ criterion.name | translate }}
                    </option>
                  </select>

                  

                  <select class="form-select form-select-lg" id="transactionType">
                    <option selected disabled>{{ 'select_operation_type' | translate }}</option>
                    <option *ngFor="let transaction of operationTypeData" [value]="transaction.name">
                      {{ transaction.name | translate }}
                    </option>
                  </select>

                  <select class="form-select form-select-lg" id="productType">
                    <option selected disabled>{{ productPlaceholder | translate }}</option>
                    <option *ngFor="let item of dynamicDataSource" [value]="item.name">
                      {{ item.name | translate }}
                    </option>
                  </select>

                  <button type="submit" class="btn btn-primary btn-rounded form-select-lg"
                    (onClick)="onSearchProduct()">
                    <i class="fa fa-arrow-right"></i>
                  </button>
                </div>
              </form> -->

              <form [formGroup]="searchForm" class="search-box">
                
                  <div class="dx-fieldset d-flex input-field">
                    <!-- Search By Dropdown -->
                    <div class="dx-field">
                      <label class="form-label w-200">{{ 'search_by' | translate }}</label>
                    </div>
                    <div class="dx-field">
                      
                      <dx-select-box formControlName="searchByCriteria" [dataSource]="criteriaData" displayExpr="name"
                        valueExpr="id" placeholder="{{ 'select_search_criteria' | translate }}"
                        (onValueChanged)="onSearchCriteriaChange($event)" class="form-select-lg w-200">
                      </dx-select-box>
                    </div>
  
                    <!-- Transaction Type Dropdown -->
                    <div class="dx-field">
                      
                      <dx-select-box formControlName="transactionType" [dataSource]="operationTypeData" displayExpr="name"
                        valueExpr="name" placeholder="{{ 'select_operation_type' | translate }}"
                        class="form-select-lg w-200">
                      </dx-select-box>
                    </div>
  
                    <!-- Dynamic Type Dropdown -->
                    <div class="dx-field">
                      
                      <dx-select-box formControlName="productType" [dataSource]="dynamicDataSource" displayExpr="name"
                        valueExpr="name" placeholder="{{ productPlaceholder | translate }}" class="form-select-lg w-200">
                      </dx-select-box>
                    </div>
  
                    <!-- Search Button -->
                    <div class="dx-field text-center">
                      <dx-button text="Search" type="default" stylingMode="contained" icon="search"
                        (onClick)="onSearchProduct()" class="btn-lg btn-primary" class="w-200">
                      </dx-button>
                    </div>
                  </div>
              

              </form>


            </div>
          <!-- </div> -->
       
      </div>

    </div>
  </div>
</div>