<div class="container-fluid bg-darkbackground text-light footerfirst-panel" data-parallax="scroll">
    <div class="container py-2 row">


        <a routerLink="/public/import_procedures" class="col-lg-3 wow fadeIn div-bottompanelguide"
            data-wow-delay="0.5s">
            <i class="fa fa-check text-white"></i>
            <h6 class="fs-5 fw-semi-bold text-light">{{'import_procedures' | translate}}</h6>
        </a>
        <a routerLink="/public/export_procedures" class="col-lg-3 wow fadeIn div-bottompanelguide"
            data-wow-delay="0.5s">
            <i class="fas fa-exchange-alt text-white"></i>
            <h6 class="fs-5 fw-semi-bold text-light">{{'export_procedures' | translate}}</h6>
        </a>

        <a routerLink="/public/transit_procedures" class="col-lg-3 wow fadeIn div-bottompanelguide"
            data-wow-delay="0.3s">
            <i class="fas fa-chart-pie text-white"></i>
            <h6 class="fs-5 fw-semi-bold text-light">{{'transit_procedures' | translate}}</h6>
        </a>

        <a routerLink="/public/producthscodes_info" class="col-lg-3 wow fadeIn div-bottompanelguide"
            data-wow-delay="0.1s">
            <i class="fa fa-book text-white"></i>
            <h6 class="fs-5 fw-semi-bold text-light">{{'products_hs_information' | translate}}</h6>
        </a>

    </div>
</div>



<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid copyright py-4 footersecond-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">{{'organisation_name' | translate}}</a>,
                {{'all_rights_reserved' | translate}}.
            </div>
            <div class="col-md-6 text-center text-md-end">
            </div>
        </div>
    </div>
</div>