/* Footer First Panel */
.footerfirst-panel {
  /* background: #2c2f33 !important;  */
  padding: 6px 0 !important;
}

.footerfirst-panel a {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  /* border-radius: 10px; */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.div-bottompanelguide h6 {
  font-weight: 800 !important;
  text-shadow: #6db3ec !important;
  color: #fff !important;
}

.footerfirst-panel a i {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.footerfirst-panel a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-3px);
}

/* Footer Second Panel */
.footersecond-panel {
  /* background: #1f2225 !important; */
  color: #d1d1d1 !important;
  text-align: center;
  /* font-size: 14px; */
}

.footersecond-panel a {
  color: #f8f9fa !important;
  text-decoration: none;
}

.footersecond-panel a:hover {
  color: #f1c40f !important;
}

.div-bottompanelguide {
  border-right: 1px solid #fff !important;
  font-weight: bold !important;
  font-size: 25px !important;
  text-transform: capitalize !important;
  padding: 15px 10px !important;
  /* background-color: #033721 !important; */
  background: linear-gradient(90deg, rgb(47, 89, 119) 0%, rgba(155, 196, 217, 1) 75%, rgb(77, 151, 182) 100%) !important;
}

/* Responsive Design */
@media (max-width: 992px) {
  .footerfirst-panel a {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .footerfirst-panel a h6 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footerfirst-panel {
    text-align: center;
  }

  .footerfirst-panel a {
    display: inline-block;
    margin: 10px;
  }
}