<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <h5 class="m-0">{{ parameter_name | translate }}</h5>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/admin-ecres/app-dashboard">{{ 'home' | translate
                                }}</a></li>
                        <li class="breadcrumb-item active">{{ parameter_name | translate }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <dx-tab-panel class="fullpage-tab" id="Navigation Tab" [stylingMode]="stylingMode" [tabsPosition]="tabsPosition"
                [swipeEnabled]="false" [showNavButtons]="true" [animationEnabled]="true">

                <dxi-item title="{{ 'workflow_definations' | translate }}" icon="fa fa-cog">
                    <app-app-processworkflows></app-app-processworkflows>
                </dxi-item>

                <dxi-item title="{{ 'statuses_actions' | translate }}" icon="fa fa-cog">
                    <app-app-statusesactions></app-app-statusesactions>
                </dxi-item>

                <dxi-item title="{{ 'stage_statuses' | translate }}" icon="fa fa-cog">
                    <app-appstage-statuses></app-appstage-statuses>
                </dxi-item>

                <dxi-item title="{{ 'workflow_statuses_actions' | translate }}" icon="fa fa-cog">
                    <app-app-workflowstatusesactions></app-app-workflowstatusesactions>
                </dxi-item>

                <dxi-item title="{{ 'system_processes' | translate }}" icon="fa fa-setup">
                    <app-app-systemprocesses></app-app-systemprocesses>
                </dxi-item>

                <dxi-item title="{{ 'workflow_stages' | translate }}" icon="fa fa-setup">
                    <app-app-processworkflowsstages></app-app-processworkflowsstages>
                </dxi-item>

                <dxi-item title="{{ 'workflow_statuses' | translate }}" icon="fa fa-table">
                    <app-app-processworkflowstatuses></app-app-processworkflowstatuses>
                </dxi-item>
                <dxi-item title="{{ 'workflow_action_types' | translate }}" icon="fa fa-table">
                    <app-app-workflowactiontypes></app-app-workflowactiontypes>
                </dxi-item>
                <dxi-item title="{{ 'workflowsubmissionactions' | translate }}" icon="fa fa-table">
                    <app-app-workflowsubmissionactions></app-app-workflowsubmissionactions>
                </dxi-item>


                <dxi-item title="{{ 'workflow_processes_transitions' | translate }}" icon="fa fa-table">
                    <app-app-processworkflowtransitions></app-app-processworkflowtransitions>
                </dxi-item>
                <dxi-item title="{{'workflow_statutes_interfaces' | translate}}" icon="fa fa-table">
                    <app-app-workflowstatusesinterfaces></app-app-workflowstatusesinterfaces>
                </dxi-item>
               
                

            </dx-tab-panel>


        </div>
    </section>
</div>