<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">{{parameter_name | translate}}</li>
        </ul>

    </div>


    <div class="page-content">
        <div class="page-header">
            <h1>
                {{parameter_name | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div>


        <div class="container-fluid">
            <dx-tab-panel class="fullpage-tab" id="Navigation Tab" [stylingMode]="stylingMode"
                [tabsPosition]="tabsPosition" [swipeEnabled]="false" [showNavButtons]="true" [animationEnabled]="true">

                <dxi-item title="{{ 'common_name' | translate }}" icon="fa fa-th-list">

                    <app-common-name></app-common-name>
                </dxi-item>
                <dxi-item title="{{ 'reason_for_inclusion' | translate }}" icon="fa fa-th-list">

                    <app-reasonfor-inclusion></app-reasonfor-inclusion>
                </dxi-item>

                <dxi-item title="{{ 'distribution_category' | translate }}" icon="fa fa-th-list">
                    <app-distribution-category></app-distribution-category>
                </dxi-item>

                <dxi-item title="{{ 'method_of_use' | translate }}" icon="fa fa-th-list">
                    <app-methodof-use></app-methodof-use>
                </dxi-item>

                <dxi-item title="{{ 'product_class_categories' | translate }}" icon="fa fa-th-list">
                    <app-productclass-categories></app-productclass-categories>
                </dxi-item>

                <dxi-item title="{{ 'product_sub_categories' | translate }}" icon="fa fa-th-list">
                    <app-productsub-categories></app-productsub-categories>
                </dxi-item>

                <dxi-item title="{{ 'route_of_administration' | translate }}" icon="fa fa-th-list">
                    <app-routeof-administration></app-routeof-administration>
                </dxi-item>

                <dxi-item title="{{ 'product_special-category' | translate }}" icon="fa fa-th-list">
                    <app-productspecial-category></app-productspecial-category>
                </dxi-item>

                <dxi-item title="{{ 'intended_end_use' | translate }}" icon="fa fa-th-list">
                    <app-intendedend-use></app-intendedend-use>
                </dxi-item>

                <dxi-item title="{{ 'intended_end_user' | translate }}" icon="fa fa-th-list">
                    <app-intendedend-user></app-intendedend-user>
                </dxi-item>

                <dxi-item title="{{ 'ingredients_category' | translate }}" icon="fa fa-th-list">
                    <app-ingredients-category></app-ingredients-category>
                </dxi-item>

                <dxi-item title="{{ 'ingredient_type' | translate }}" icon="fa fa-th-list">
                    <app-ingredient-type></app-ingredient-type>
                </dxi-item>
                <dxi-item title="{{ 'classification' | translate }}" icon="fa fa-th-list">
                    <app-classification></app-classification>
                </dxi-item>

                <dxi-item title="{{ 'product_forms' | translate }}" icon="fa fa-th-list">
                    <app-product-forms></app-product-forms>
                </dxi-item>

                <dxi-item title="{{ 'assessment_procedures' | translate }}" icon="fa fa-th-list">
                    <app-assessment-procedures></app-assessment-procedures>
                </dxi-item>

                <dxi-item title="{{ 'si_units' | translate }}" icon="fa fa-th-list">
                    <app-si-units></app-si-units>
                </dxi-item>

                <dxi-item title="{{ 'storage_condition' | translate }}" icon="fa fa-th-list">
                    <app-storage-condition></app-storage-condition>
                </dxi-item>
            </dx-tab-panel>
        </div>
    </div>
</div>