<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">{{'home' | translate}}</a>
            </li>
            <li class="active">{{'multilingual_configuration' | translate}}</li>
        </ul>

    </div>


    <div class="page-content">
        <div class="page-header">
            <h1>
                {{'multilingual_configuration' | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div>


        <div class="container-fluid">
            <dx-tab-panel id="supplierPanel" [swipeEnabled]="false" [showNavButtons]="true" [animationEnabled]="true" [tabsPosition]="tabsPosition">
                <dxi-item title="{{'system_languages' | translate}}" icon="group">
                    <app-app-systemlanguages></app-app-systemlanguages>
                </dxi-item>


                <dxi-item title="{{'translation_management' | translate}}" icon="group">
                    <app-app-translationmanagement></app-app-translationmanagement>
                </dxi-item>
            </dx-tab-panel>
        </div>
    </div>
</div>