<div class="wrapper">

  <!-- Preloader 
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div>
      -->

  <app-appheader></app-appheader>

  <!-- /.navbar -->

  <app-appmenu></app-appmenu>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container-fluid">
        <router-outlet>

        </router-outlet>
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->

  <app-appfooter></app-appfooter>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<div id="main">

</div>
<ng-http-loader spinner="sk-wave" [filteredMethods]="['POST', 'PuT','GET']"></ng-http-loader>
<ng-http-loader spinner="sk-wave" [filteredMethods]="['GET', 'POST', 'PuT']"></ng-http-loader>