<div class="main-content">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box col-lg-3 card" *ngFor="let rec of regulatory_functionsdata">
        <div class="widget-header card-header">
          <h6 class="widget-title">{{ rec.name | slice : 0 : 30 }}</h6>
        </div>
        <div class="widget-body card-body">
          <div class="widget-main row">

            <div class="col-lg-9">
              <p class="description">{{ rec.service_description }}</p>
            </div>
          </div>
        </div>
        <div class="widget-pnltoolbar col-lg-12">

          <dx-button text="{{ 'guidelines' | translate }}" type="normal" icon="fa fa-file"
            [elementAttr]="{ id: 'elementId', class: 'col-lg-4' }" (onClick)="regulatoryFunctionGuidelines(rec)">
          </dx-button>
          <dx-button text="{{ 'proceed' | translate }}" type="success" icon="fa fa-file"
            [elementAttr]="{ id: 'elementId', class: 'col-lg-3' }" (onClick)="onProceedToApplication(rec)">
          </dx-button>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="col-lg-12 div_headerpanel">
        <span>{{ "current_notification" | translate}}</span>
      </div>
      <dx-data-grid class="table col-lg-12 w-200 row-border hover dxtabpanel" (onExporting)="onExporting($event)"
        [dataSource]="reminderNotificationData" [remoteOperations]='true' [showBorders]="true"
        [allowColumnResizing]="true" [columnHidingEnabled]="false" keyExpr="id">

        <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="{{ 'Page #{0}. Total: {1} ({2} items)' | translate }}"
          [showPageSizeSelector]="true" [allowedPageSizes]="[50,100]">
        </dxo-pager>
        <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
          [allowExportSelectedData]="true">
        </dxo-export>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxi-column [width]=65  caption="{{ 'actions' | translate }}" name="command-editing" [allowFiltering]="false"
          [allowSorting]="false" cellTemplate="cellTemplate">
          <div *dxTemplate="let data of 'cellTemplate'">

          </div>
        </dxi-column>
        <dxi-column dataField="urgency" caption="{{ 'urgency' | translate }}" [visible]="false"></dxi-column>
        <dxi-column dataField="notification_type" caption="{{ 'notification_type' | translate }}"
          [width]="100"></dxi-column>
        <dxi-column dataField="notification" caption="{{ 'notification' | translate }}"></dxi-column>
        <dxi-column dataField="notification_from" caption="{{ 'notification_from' | translate }}"></dxi-column>

        <dxi-column dataField="date_received" caption="{{ 'date_received' | translate }}"></dxi-column>
        <dxi-column dataField="status" caption="{{ 'status' | translate }}"></dxi-column>
        <dxo-paging [pageSize]="100"></dxo-paging>
      </dx-data-grid>

    </div>
    <div class="col-lg-4">
      <div class="col-lg-12 div_headerpanel">
        <span>{{ "my_pendingassignments" | translate}}</span>
      </div>
      <dx-data-grid [wordWrapEnabled]="true" class="w-200 col-lg-12 table row-border hover dxtabpanel"
        (onExporting)="onExporting($event)" [dataSource]="pendingAsignmentsData" [remoteOperations]='true'
        [showBorders]="true" [allowColumnResizing]="true" [columnHidingEnabled]="false" keyExpr="id">

        <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-paging [enabled]="true">
        </dxo-paging>
        <dxo-pager [showInfo]="true" infoText="{{ 'Page #{0}. Total: {1} ({2} items)' | translate }}"
          [showPageSizeSelector]="true" [allowedPageSizes]="[20,30]">
        </dxo-pager>
        <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
          [allowExportSelectedData]="true">
        </dxo-export>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxi-column [width]=65 caption="{{'actions' | translate}}" name="command-editing" [allowFiltering]="false"
          [allowSorting]="false" cellTemplate="cellTemplateDoneSingle">
          <div *dxTemplate="let d of 'cellTemplateDoneSingle'">
            <dx-button text="{{'view_tasksdetails' | translate}}" (click)="onViewPendingTasksDetails(d.data)"
              type="default" icon="fa fa-table">
            </dx-button>
          </div>
        </dxi-column>
        <dxi-column [groupIndex]="0" dataField="process_name"
          caption="{{ 'delivery_timeline' | translate }}"></dxi-column>
        <dxi-column dataField="workflow_status" caption="{{ 'workflow_status' | translate }}"></dxi-column>
        <dxi-column dataField="workflow_stage" caption="{{ 'workflow_stage' | translate }}"></dxi-column>
        <dxi-column [width]="150" dataField="number_of_assignment"
          caption="{{ 'number_of_records' | translate }}"></dxi-column>
        <dxo-paging [pageSize]="1000"></dxo-paging>
      </dx-data-grid>
    </div>
  </div>
</div>
<!-- /.main-content -->
<dx-popup class="popup" [(visible)]="refFunctionGuidelines" [width]="funcpopWidth(75)" [height]="funcpopHeight(55)"
  [showTitle]="true"  title="{{ 'regulatory_function_guidelines' | translate }}" [dragEnabled]="false"
  [hideOnOutsideClick]="true" (onHidden)="refFunctionGuidelines = false">
  <div class="row col-lg-12">
    <dx-data-grid (onCellPrepared)="onCellPrepared($event)" class="table row-border hover"
      (onExporting)="onExporting($event)" [wordWrapEnabled]="true" [dataSource]="guidelineDetails"
      [remoteOperations]="true" [showBorders]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true"
      keyExpr="id" (onToolbarPreparing)="onAdvanceProductRegistrySearch($event)">

      <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
        [allowExportSelectedData]="true">
      </dxo-export>
      <dxo-search-panel [visible]="true"></dxo-search-panel>

      <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
      <dxo-paging [enabled]="true">
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
          [allowedPageSizes]="[20,50,100]"></dxo-pager>
      </dxo-paging>

      <!-- <dxi-column [width]="100" caption="{{ 'action' | translate }}" name="command-editing" [allowFiltering]="false"
     [allowSorting]="false" cellTemplate="cellTemplate">
     <div *dxTemplate="let data of 'cellTemplate'">
       <dx-menu (onItemClick)="funcActionColClick($event,data)" [items]="actionsMenuItems"></dx-menu>
     </div>
   </dxi-column> -->
      <dxi-column dataField="name" caption="{{ 'name' | translate }}"></dxi-column>
      <dxi-column dataField="guideline_descriptions" caption="{{ 'guideline_descriptions' | translate }}"></dxi-column>
      <dxi-column dataField="links" caption="{{ 'links' | translate }}"></dxi-column>
      <dxi-column dataField="documents_upload" caption="{{ 'documents_upload' | translate }}"></dxi-column>

    </dx-data-grid>
  </div>

</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#employee' }" [(visible)]="loadingVisible"
  [showIndicator]="true" [showPane]="true" [shading]="true" [message]="spinnerMessage" [hideOnOutsideClick]="false">
</dx-load-panel>

<dx-popup class="popup" [(visible)]="mycurrentAssignmentWin" [width]="funcpopWidth(75)" [height]="funcpopHeight(55)"
  [showTitle]="true"  title="{{ 'regulatory_function_guidelines' | translate }}" [dragEnabled]="false"
  [hideOnOutsideClick]="true" (onHidden)="mycurrentAssignmentWin = false">
  <dx-scroll-view>
    <dx-data-grid class="w-200  table row-border hover dxtabpanel" [wordWrapEnabled]="true"
      (onExporting)="onExporting($event)" [dataSource]="pendingtasksTasksdetailsData" [remoteOperations]='true'
      [showBorders]="true" [allowColumnResizing]="true" [columnHidingEnabled]="false" keyExpr="id">

      <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
      <dxo-search-panel [visible]="true">
      </dxo-search-panel>
      <dxo-paging [enabled]="true">
      </dxo-paging>
      <dxo-pager [showInfo]="true" infoText="{{ 'Page #{0}. Total: {1} ({2} items)' | translate }}"
        [showPageSizeSelector]="true" [allowedPageSizes]="[20,30]">
      </dxo-pager>
      <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
        [allowExportSelectedData]="true">
      </dxo-export>
      <dxo-selection mode="multiple"></dxo-selection>

      <dxi-column dataField="app_reference_no" caption="{{ 'app_reference_no' | translate }}"></dxi-column>
      <dxi-column [groupIndex]="0" dataField="process_name" caption="{{ 'process_name' | translate }}"></dxi-column>

      <dxi-column dataField="previous_stage" caption="{{ 'previous_stage' | translate }}"></dxi-column>

      <dxi-column dataField="current_stage" caption="{{ 'tasks_process' | translate }}"></dxi-column>
      <dxi-column dataField="application_status" caption="{{ 'application_status' | translate }}"></dxi-column>
      <dxi-column dataField="date_received" caption="{{ 'date_received' | translate }}"></dxi-column>
      <dxi-column dataField="date_released" caption="{{ 'date_of_completion' | translate }}"></dxi-column>

      <dxi-column dataField="time_span" caption="{{ 'time_span' | translate }}"></dxi-column>
      <dxo-paging [pageSize]="1000"></dxo-paging>
    </dx-data-grid>
  </dx-scroll-view>
</dx-popup>