<div class="main-content-inner">

    <div class="page-content">
        <div class="page-header">
            <h1>
                {{ parameter_name | translate }}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div>
        <dx-button text="{{'add_user_account' | translate}}" type="default" icon="fa fa-plus"
            [elementAttr]="{ id: 'elementId', class: '' }" (onClick)="onAddActiveUserAccountsClick()">
        </dx-button>

        <dx-data-grid (onCellPrepared)="onCellPrepared($event)" class="table row-border hover"
            (onExporting)="onExporting($event)" [dataSource]="ActiveUserAccounts" [remoteOperations]='true'
            [showBorders]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true" [wordWrapEnabled]="true"
            keyExpr="id" (onToolbarPreparing)="onAdvanceProductRegistrySearch($event)">
            <!-- Replace [dataSource]="ActiveUserAccounts" with your appropriate data source -->

            <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            <dxo-paging [enabled]="true">
            </dxo-paging>
            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
                [allowedPageSizes]="[50,100,200]">
            </dxo-pager>
            <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
                [allowExportSelectedData]="true">
            </dxo-export>
            <dxo-selection mode="multiple"></dxo-selection>
            <dxo-group-panel [visible]="true"></dxo-group-panel>

            <dxi-column [width]="100" caption="{{'action' | translate}}" name="command-editing" [allowFiltering]="false"
                [allowSorting]="false" cellTemplate="cellTemplate">
                <div *dxTemplate="let data of 'cellTemplate'">
                    <dx-menu (onItemClick)="permitActiveUserAccountsActionColClick($event,data)"
                        [items]="permitActiveExpertAccountsMenuItems"></dx-menu>
                </div>
            </dxi-column>

            <dxi-column dataField="account_type" caption="{{'account_type' | translate}}">

            </dxi-column>
            <dxi-column dataField="account_role" caption="{{'account_role' | translate}}">

            </dxi-column>
            <dxi-column [width]="75" dataField="user_title" caption="{{'user_title' | translate}}">

            </dxi-column>

            <dxi-column dataField="first_name" caption="{{'first_name' | translate}}"></dxi-column>

            <dxi-column dataField="surname" caption="{{'surname' | translate}}"></dxi-column>

            <dxi-column dataField="email_address" caption="{{'email_address' | translate}}"></dxi-column>

            <dxi-column dataField="identification_type" caption="{{'identification_type' | translate}}">

            </dxi-column>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
           
            <dxi-column [width]="100" dataField="identification_number" caption="Identification Number"></dxi-column>
            <dxi-column  [groupIndex]="0"  dataField="organisation_name" caption="{{'organisation_name' | translate}}"></dxi-column>
            <dxi-column dataField="organisation_department"
                caption="{{'organisation_department' | translate}}"></dxi-column>

            <dxi-column dataField="country_of_origin" caption="{{'country' | translate}}">

            </dxi-column>
            <dxi-column dataField="date_registered" caption="{{'date_registered' | translate}}">

            </dxi-column>
            <dxi-column dataField="last_login_time" caption="{{'last_login_time' | translate}}">

            </dxi-column>
            <dxo-paging [pageSize]="200"></dxo-paging>
        </dx-data-grid>

    </div>
</div>
<!-- </div>
    </section> -->


<dx-popup [(visible)]="addPopupVisible" [width]="funcpopWidth(85)" [height]="funcpopHeight(65)" [showTitle]="true"
    title="{{'add_new_user_account' | translate}}">
    <dx-scroll-view>
        <form (ngSubmit)="onsaveActiveUserAccountsDetails()" [formGroup]="userAccountFrm">
            <div class="row">

                <div class="col-lg-4">
                    <label>{{'account_type' | translate}}</label>
                    <dx-select-box [dataSource]="userAccountTypeData" [readOnly]="is_readonly"  (onSelectionChanged)="onAccountTypeSelection($event)"
                        formControlName="account_type_id" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                    </dx-select-box>
                </div>
                <div class="col-lg-4">
                    <label>{{'user_role' | translate}}</label>
                    <dx-select-box [dataSource]="userAccountRolesData" [readOnly]="is_readonly"
                        formControlName="account_roles_id" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                    </dx-select-box>
                </div>
                <div class="col-lg-4">
                    <label>{{'user_title' | translate}}</label>
                    <dx-select-box [dataSource]="userTitles" [readOnly]="is_readonly" formControlName="user_title_id"
                        [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                    </dx-select-box>
                </div>
                <div class="col-lg-4">
                    <label>{{'first_name' | translate}}</label>
                    <dx-text-box formControlName="first_name" [readOnly]="is_readonly" placeholder=""
                        [showClearButton]="true"></dx-text-box>
                </div>
                <div class="col-lg-4">
                    <label>{{'other_names' | translate}}</label>
                    <dx-text-box formControlName="other_names" [readOnly]="is_readonly" placeholder=""
                        [showClearButton]="true"></dx-text-box>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <label for="ti" class="control-label">{{ 'country_of_origin' | translate }}</label>
                    <dx-select-box [dataSource]="CountriesData" formControlName="country_of_origin_id"
                      (onSelectionChanged)="onCountrySelection($event)" [showClearButton]="true" valueExpr="id" [searchEnabled]="true"
                      displayExpr="name" class="custom-input">
                    </dx-select-box>
                  </div>
                <div class="col-lg-4">
                    <label>{{'identification_type' | translate}}</label>
                    <dx-select-box [dataSource]="IdentificationType" [readOnly]="is_readonly"
                        formControlName="identification_type_id" [showClearButton]="true" valueExpr="id"
                        [searchEnabled]="true" displayExpr="name">
                    </dx-select-box>
                </div>

                <div class="col-lg-4">
                    <label>{{'identification_number' | translate}}</label>
                    <dx-text-box formControlName="identification_number" [readOnly]="is_readonly" placeholder=""
                        [showClearButton]="true"></dx-text-box>
                </div>

                <div class="col-lg-4">
                    <label>{{'email-address' | translate}}</label>
                    <dx-text-box formControlName="email_address" [readOnly]="is_readonly"
                        [showClearButton]="true"></dx-text-box>
                </div>

                <div class="col-lg-4">
                    <label>{{'phone_no' | translate}}</label>
                    <br>
                    <dx-text-box formControlName="phone_number" class="custom-input"></dx-text-box>
                </div>
                <div class="col-lg-4">
                    <label>{{'organisation' | translate}}</label>
                    <dx-select-box (onSelectionChanged)="onOrganisationSelectionChange($event)"
                        [dataSource]="organisationData" [readOnly]="is_readonly" formControlName="organisation_id"
                        [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                    </dx-select-box>
                </div>
                <div class="col-lg-4">
                    <label>{{'organisation_department' | translate}}</label>
                    <dx-select-box [dataSource]="organisationDepartmentsdata" [readOnly]="is_readonly"
                        formControlName="organisation" [showClearButton]="true" valueExpr="id" [searchEnabled]="true"
                        displayExpr="name">
                    </dx-select-box>
                </div>
                <div class="col-lg-12">
                    <label>{{'user_group' | translate}}</label>

                    <dx-tag-box [items]="systemUserGroupsData" formControlName="user_groups_ids"
                        placeholder="{{'user_group' | translate}}" valueExpr="id" [readOnly]="is_readonly"
                        [showSelectionControls]="true" applyValueMode="useButtons" displayExpr="name">
                    </dx-tag-box>
                </div>


                <div class="col-lg-12">
                    <dx-button text="Enable Edit" type="default" icon="fa fa-edit"
                        [elementAttr]="{ class: 'pull-left' }" (onClick)="onActionEditDetails()">
                    </dx-button>
                    <dx-button text="Save User Account Details" [disabled]="is_readonly" type="default"
                        icon="fa fa-plus" [elementAttr]="{ class: 'pull-left' }"
                        (onClick)="onsaveActiveUserAccountsDetails()">
                    </dx-button>
                    <dx-button text="Cancel" type="danger" icon="fa fa-times" [elementAttr]="{ class: 'pull-left' }"
                        (onClick)="addPopupVisible = false">
                    </dx-button>
                </div>
            </div>



        </form>
    </dx-scroll-view>

</dx-popup>


<dx-popup [visible]="deletePopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)" [showTitle]="true"
    title="{{ 'delete_confirmation_of '+parameter_name | translate }}" (onHidden)="deletePopupVisible = false">

    <div>
        <p class="confirmation-text">
            {{ 'are_you_sure_you_want_to_delete' | translate }}
            "<strong>{{config_record}}</strong>"?
        </p>
        <div class="button-container">
            <dx-button text="{{ 'yes' | translate }}" type="danger" (onClick)="onDeleteUserData()">
            </dx-button>
            <dx-button text="{{ 'no' | translate }}" (onClick)="deletePopupVisible = false">
            </dx-button>
        </div>
    </div>

</dx-popup>


<dx-popup [visible]="usrrejectionPopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)"
    [showTitle]="true" title="{{ decision_description | translate }}" (onHidden)="usrrejectionPopupVisible = false">

    <div>
        <p class="confirmation-text">
            {{ 'Are you sure you want to '+decision_description | translate }}
            ?
        </p>
        <div class="button-container">
            <dx-button text="{{ decision_description | translate }}" type="default"
                (onClick)="onUserAccountRejection()">
            </dx-button>
            <dx-button text="{{ 'No' | translate }}" (onClick)="usrrejectionPopupVisible = false">
            </dx-button>
        </div>
    </div>

</dx-popup>

<dx-popup [visible]="usrapprovalPopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)" [showTitle]="true"
    title="{{ decision_description | translate }}" (onHidden)="usrapprovalPopupVisible = false">

    <div>
        <p class="confirmation-text">
            {{ 'Are you sure you want to '+decision_description | translate }}
            ?
        </p>
        <div class="button-container">
            <dx-button text="{{ decision_description | translate }}" type="danger" (onClick)="onUserAccountApproval()">
            </dx-button>
            <dx-button text="{{ 'No' | translate }}" (onClick)="usrapprovalPopupVisible = false">
            </dx-button>
        </div>
    </div>

</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#employee' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [message]="spinnerMessage" [hideOnOutsideClick]="false">
</dx-load-panel>