.search-margin-top {
    margin-top: 15px;
    width: 100rem;
}

[_nghost-ng-c3021171271] {
    display: flex;
}

.precedure-category {
    font-size: 1.4rem !important;
    padding-left: 5rem;
}
.accordion-button {
    font-size: 1.5rem;
}
.accordion-button2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 5rem;
    font-size: 1.4rem;
    /* color: #525368; */
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    transition: all 0.15s ease-in-out;
}
