<!-- Carousel Start -->
<div class="">
    <div class="row col-lg-12 row div-home pull-right">

        <div class="col-lg-4 col-md-12 div-eacdescription">
            <div class="img-container">
                <!-- [showNavButtons]="true" -->
                <div class="img-container">
                   
                </div>
                
            </div>
           
        </div>


        <div *ngIf="authService.isLoggedIn" class="col-lg-3">

            <dx-scroll-view height="100%" width="100%" class="with-footer single-card">
                <div class="dx-card content">
                  <div class="header">
                    <div class="title">{{ 'Logged In | Online'| translate}}</div>
                    <div class="title">| {{'Dashboard' | translate}}</div><br>
                    <div class="title">{{ 'Username'| translate}}</div>
                    <div class="title">| {{userFirstName}}</div><br><br>
                    <div class="title">{{ 'Account Type'| translate}}</div>
                    <div class="title">| {{userGroupName}}</div><br><br><br>
                    <dx-button text="{{ 'Access Dashboard' | translate }}" type="success" icon="fa fa-arrow-right"
                  [elementAttr]="{ class: 'pull-left' }" (onClick)="funcRedirectToDashboard()">
                </dx-button>
                  </div>
                  <ng-content></ng-content>
                </div>
              </dx-scroll-view> 
        </div>

        <div *ngIf="!authService.isLoggedIn" class="col-lg-4 div-eaclogin" style="font-size: 15px; padding-top: 50px;">
            <h2 class="text-center"> {{'amrh_secretariat_system_access' | translate}}</h2>
            <h3>{{'sign_in' | translate}}</h3>

            <form [formGroup]="signInFrm" (ngSubmit)="onSignIn()" class="text-left">

                <div class="login-group row">

                    <div class="col-lg-12">
                        <label>{{'email_address' | translate}}</label>

                        <dx-text-box  formControlName="email_address" placeholder="" [showClearButton]="true">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-12">
                        <label>{{'password' | translate}}</label>

                        <dx-text-box   formControlName="password" mode="password" placeholder="" [showClearButton]="true">
                        </dx-text-box>
                    </div>
                  

                </div>
                <div class="row border mt-2">
                    <div class="col pt-2">
                        <span class="security-stamp mt-2">{{'security_stamp' | translate}}</span>
                    </div>
                    <div class="col pt-2">
                        <dx-button type="success" icon="fa fa-sync" (onClick)="funcReloadCapture()"></dx-button>
                    </div>
                    <div class="col pt-2">
                        <span class="text-danger">{{ var_1 }}</span>
                    </div>
                    <div class="col pt-2">
                        <span class="text-danger">+</span>
                    </div>
                    <div class="col pt-2">
                        <span class="text-danger">{{ var_2 }}</span>
                    </div>
                    <div class="col pt-2 ">
                        <dx-number-box class="mt-2" formControlName="sum_input" placeholder="" [showClearButton]="true"></dx-number-box>
                    </div>
                </div>
                
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> {{'remember_me'}} </label>
                      </div>
                    </div>
                
                    <div class="col">
                      <!-- Simple link -->
                      <a (click)="funcLostPassord()">{{'forgot_password' | translate}}</a>
                    </div>
                  </div>
                
                  <!-- Submit button -->
                  <button type="button" (onClick)="onSignIn()"   class="btn btn-primary btn-block mb-4">{{'sign_in' | translate}}</button>


            </form>


        </div>
    </div>
</div>


<dx-popup class="popup" [width]="funcpopWidth(30)" [height]=350 [showTitle]="true" title="Password Recovery"
    [dragEnabled]="false" [hideOnOutsideClick]="false" [(visible)]="islostpassword">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view>

            <form role="form" enctype="multipart/form-data" role="form" [formGroup]="forgotPasswordFrm"
                (ngSubmit)="onFuncRecoverPasswordRequest()">


                <div class="col-lg-12">
                    <div class="form-group">
                        <label>{{ 'email_address' | translate}}</label>
                        <dx-text-box formControlName="email_address" [showClearButton]="true">

                        </dx-text-box>
                    </div>
                </div>

                <div class="col-lg-12">
                    <dx-button text="{{'request_password_recovery' | translate}}" type="success" icon="fa fa-key"
                        [elementAttr]="{ id: 'elementId', class: 'col-lg-12' }"
                        (onClick)="onFuncRecoverPasswordRequest()">
                    </dx-button>

                </div>
                
            </form>

        </dx-scroll-view>
    </div>
</dx-popup>

<ng-http-loader spinner="sk-wave" [filteredMethods]="['POST', 'PuT','GET']"></ng-http-loader>