<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0">{{'product_configurations' | translate}}</h5>
                </div>
                
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <dx-tab-panel id="supplierPanel" [swipeEnabled]="false" [showNavButtons]="true" [animationEnabled]="true" [tabsPosition]="tabsPosition">
 

            </dx-tab-panel>
        </div>
    </section>
</div>